# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/

# Test artifacts
*.psb
*.psbr
*.tar.gz

# Logs
*.log

# Temp
*.tmp
*.bak
*.old

# OS
Thumbs.db
.DS_Store